[submodule "themes/icarus"]
	path = themes/icarus
	url = git@github.com:ppoffice/hexo-theme-icarus.git
[submodule "themes/blist"]
	path = themes/blist
	url = https://github.com/apvarun/blist-hugo-theme.git
